*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 164px;
  margin:0;
  display: inline-block;
  /*text-shadow: -1px -1px 1px black;*/
}

h2 {
  font-family: "PT mono", sans-serif;
}

p, li {
  font-family: "PT mono", sans-serif;
}

/*fancy top header********************/

#topcontainer {
  position: relative;
  /*border: 1px solid chocolate;*/
  height: 415px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right:25px;
}

.by {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0 25px;
  width:500px;
  top:290px;
  left:25px;

}

.bigheader {
  font-family: "oswald", sans-serif;
  border: 1px solid black;
  position: absolute;
  color: #FFF74F;
}

.bigheader h1:nth-child(2) {
  position:absolute;
  left:409px;
  top:165px;
}

/*Main interaction********************/

#mainsection {
  width:100%;
  padding: 50px 100px;
  height: 400px;
}

 .box1, .box2{
   overflow: auto;
   display:inline-block;
   width:48%;
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px 10px;
   margin: 0 1%;

 }

 .box1 {
   float:left;
 }

 .box2 {
   float: right;
 }

 .enterbutton {
   display: inline-block;
 }

 button {
   background-color: #FFF74F;
   box-shadow: -1px 1px 5px black;
   font-family: "PT mono", sans-serif;
   border-radius: 5px;
 }

 button:hover {
   background-color: #fff99f;
 }
